<!-- pied de page avec logo opérateur -->
{{ $footer := $.Site.Params.footer }}
{{ $theme := $.Site.Params.theme }}
{{ $footer_menus := $.Site.Menus.footer }}
{{ $footer := $.Site.Params.footer }}
{{ $footer_logo := $footer.logo }}
{{ $footer_description := $footer.description }}

<footer class="fr-footer" role="contentinfo" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body fr-footer__body--operator">
            <div class="fr-footer__brand fr-enlarge-link">
                {{ partial "functions/bloc-marque-logo.html"  $footer }}
                <a class="fr-footer__brand-link" href="/" title="Retour à l’accueil">
                    {{ partial "functions/logo-operator.html" (dict "logo" $footer_logo "position" "footer") }}
                </a>
            </div>
            <div class="fr-footer__content">
                {{ with $footer_description }}
                <p class="fr-footer__content-desc">{{ . }}</p>
                {{ end }}
                <ul class="fr-footer__content-list">
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://legifrance.gouv.fr">legifrance.gouv.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://gouvernement.fr">gouvernement.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://service-public.fr">service-public.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://data.gouv.fr">data.gouv.fr</a>
                    </li>
                </ul>
            </div>
        </div> 
        <div class="fr-footer__bottom">
            {{ with $footer_menus }}
                <ul class="fr-footer__bottom-list">
                    {{- partial "footer/footer-menus.html" $footer_menus -}}
                    {{ partial "functions/add_switch_mode" (dict "theme" $theme "position" "footer") }}
                </ul>
            {{ end }}
            <div class="fr-footer__bottom-copy">
                <p>Sauf mention contraire, tous les textes de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank">licence etalab-2.0</a>
                </p>
            </div>
        </div>
    </div>
</footer>

{{ partial "footer/scripts.html" . }}