<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        {{- partial "header/bloc-marque.html" $.Site.Params.header -}}
                        {{- partial "header/logo-operator.html" $.Site.Params.header -}}
                        {{- partial "header/navbar.html" $.Site.Params.header -}}    
                    </div>
                    {{- partial "header/service.html" $.Site.Params.header -}}
                </div>
                {{- partial "header/tools.html" . -}}
            </div>
        </div>
    </div>
    {{- partial "header/menu-mobile.html" $.Site.Menus -}}
</header>

