<div class="fr-header__menu fr-modal" id="modal-833" aria-labelledby="fr-btn-menu-mobile">
    <div class="fr-container">
        <button class="fr-link--close fr-link" aria-controls="modal-833">Fermer</button>
        <div class="fr-header__menu-links"></div>
        <nav class="fr-nav" id="navigation-832" role="navigation" aria-label="Menu principal">
            <ul class="fr-nav__list">
                {{ range .main }}
                {{ $id := delimit (shuffle (seq 1 9)) "" }}
                <li class="fr-nav__item">
                    {{ if (not .HasChildren) }}
                    <a class="fr-nav__link" href="{{ .URL }}" target="_self" aria-current="page">{{ .Name }}</a>
                    {{ else }}
                    <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-{{ $id }}">{{ .Name }}</button>
                    <div class="fr-collapse fr-menu" id="menu-{{ $id }}">
                        <ul class="fr-menu__list">
                            {{ range .Children }}
                            <li>
                                <a class="fr-nav__link" href="{{ .URL }}" target="_self">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</div>